{% extends 'base.html' %}

{%block content %}
<section id="upload-form" class="container ml-auto mt-5 w-75">
  <h2 class="text-center">Upload Flower Image</h2>
  <form class="d-flex justify-content-center mt-4" method="POST" action="/predict" enctype="multipart/form-data">
    <div class="form-group">
      <label for="formControlFile">Flower Image</label>
      <input type="file" class="form-control-file" id="formControlFile">
    </div>
    <div class="form-group d-flex align-items-end">
      <button type="submit" class="btn-lg btn-primary">Predict!</button>
    </div>


  </form>
</section>
{%endblock %}
