html {
  width: 100%; 
  height: 100%;
  background-color: white;
}
body {
  width: 70%;
  margin: auto !important;
  background-color: rgb(230, 230, 230) !important;
  box-shadow: 2px 2px rgb(184, 184, 184);
}
#upload-file-button {
  width: 110px;
  height: 55px;
}

p {
  font-size: 20px;
}